feh --bg-scale /home/leroyce/Pictures/bg.png &
xmobar &
compton -b &
#trayer --edge top --align right --SetDockType true --SetPartialStrut true --expand true --width 6 --transparent true --alpha 0 --height 20 &
