[options]
#font = Source Code Pro Powerline Medium 10
#font = Source Code Pro for Powerline Medium 10
#font = Arimo Bold 10
font = Sauce Code Powerline Medium 10

[colors]
# based off of "Sweet Love" by Boroshlawa;
# dark colors were shifted down 10 points in brightness
# and light colors were shifted up 5 points in brightness

# special
foreground      = #c0b18b
foreground_bold = #c0b18b
cursor          = #c0b18b
background      = #1f1f1f

# black
color0  = #574141
color8  = #261a1a

# red
color1  = #de854e
color9  = #915129

# green
color2  = #899450
color10 = #4e572b

# yellow
color3  = #bd925e
color11 = #755637

# blue
color4  = #5e6969
color12 = #303030

# magenta
color5  = #855b66
color13 = #473232

# cyan
color6  = #7d7d64
color14 = #424235

# white
color7  = #ccc299
color15 = #7d7251

